/***********
*  RESET  *
***********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    
}



/***********
*  DEBUG  *
***********/

 .bordered{
    border: 1px dashed red;
    min-height: 50px;
 }

.bg-yellow{
    background-color: yellowgreen;
}




/***********
*  LAYOUT  *
***********/

section .row{

    margin-left: -1rem;
}


.container{
    margin: auto;
    padding: 0 2rem;

}

.card{
    padding: 1rem;
    

}


.col{
    
   

}






/***********
*  HEADER  *
***********/

#header{
    background-color: lghtblue;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}



header .container{
    line-height: 3rem;

}

nav.row{
    display: flex;
    justify-content: space-between;

}

nav ul{
    display: flex;
    gap: 1rem;
    
}

header #icon{
    display:none;

}



/***********
*  MAIN  *
***********/

main::before{
    content: "";
    padding-top: 3rem;
    display: block;
}






/***********
*  SECTION  *
***********/

main> section{
    padding: 2rem 0;
}



/**************
*  RESPONSIVE  *     small <576 - medium <768 - large <992
***************/

/* Header */

@media screen and (max-width: 768px) {
    .col> ul{
        display:none;
    }
    
    header #icon{
        display: block;
    }
}

