/**********
*  RESET  *
***********/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    
}



/**********
*  DEBUG  *
***********/

.bordered{
    border: 1px dashed red;
    min-height: 50px;
 }

.bg-yellow{
    background-color: yellowgreen;
}




/***********
*  LAYOUT  *
***********/
body{
    font-family: 'Akatab', sans-serif;
}

.container{
    margin: auto;
    padding: 0 2rem;

}

main .col{
    padding: 1rem;
}

.card{
    padding: 1rem;
    
}









/***********
*  HEADER  *
***********/

#header{
    background-color: #0084FD;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}



header .container{
    line-height: 4rem;
    display: flex;
    justify-content: space-between;
    color: white;

}

header .col{
    display: flex;
    align-items: center;
}

nav ul{
    display: none;     
}

nav li{
    display: inline-block;
    padding-left: 1rem; 
    
}

nav button{
    border: 0px white;
    padding: 5px 10px;
    border-radius: 15px;
}

.fa-solid{
    font-size: x-large;
    vertical-align: middle;
}



/**********
 *  MAIN  *
***********/

main::before{
    content: "";
    padding-top: 2rem;
    display: block;
}

main section:nth-child(even){
    
        background-color: #9792E4;
    
}



section .row{

    margin-left: -1rem;
    margin-right: -1rem;
}



/*************
*MAIN SECTION*
**************/

section{
    padding: 2rem 0;
}

/* DEMO SECTION */

#demo .card{
    text-align: center;
}




/***********
*  FOOTER  *
************/

footer{
    background-color: black;
    color: white;
}







/**************
*  RESPONSIVE  *     small <576 - medium <768 - large <992
***************/




@media screen and (min-width: 577px) {

    .container{
        max-width: 768px;
        
    }

     /* DEMO SECTION */

    #demo .row{
        display: flex; 
        flex-wrap: wrap;   
              
    }


    #demo .col:first-child{
        width: calc(100% / 3 * 2);

    }

   #demo .col:first-child> .card{
        text-align: left;
    }

    #demo .col{
        width: calc(100% / 3);
    }

    


    /* PLANING SECTION 
    
    //////
    
    */


    /* BENEFIT SECTION */

    #benefit .row {
        display: flex;
        flex-wrap: wrap;
    }

    #benefit .col:first-child{
        width: 100%;
    }

    #benefit .col{
        width: 50%;
    }


    /* ABOUT-US SECTION */
    #about-us .row{
        display: flex;
    }

    #about-us .col:first-child {
        width: 65%;
    }

    #about-us .col{
        width: 35%;
    }

    
    
}

@media screen and (min-width: 993px){

    .container{
       max-width: 768px;
       
   }
    /* DEMO SECTION */


    #header ul{
        display: block;
    }

    #icon{
        display:none;
    } 


    /* PLANING SECTION */

    #planning .row{
    display: flex;
    justify-content: center;
    
    }

    #planning .col{
        width: 25%;
    }

    

    
    /* BENEFIT SECTION */
   
    #benefit .col{
        width: calc(100% / 3);
    }


    /* ABOUT-US SECTION */


}




